@font-face {
  font-family: "font1";
  src: url("../../fonts/Stay_and_Shine.ttf");
}

@font-face {
  font-family: "font2";
  src: url("../../fonts/KGDoYouLoveMe.ttf");
  color: #d7f3fd;
}

.a {
  background-image: url("../../assets/fundo_menu.png");
  color: #d7f3fd;
}
